#landing{
	background-color: #e6ffff;
}

#Hello{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

#GPort{
	margin-top: 120px;
}

#projects1{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color: black;
	background-color: transparent;
}

#fblogo{
	width: 50px;
	margin-right: 10px;
}

#instalogo{
	width: 50px;
	margin-right: 10px;
}

#maillogo{
	width: 50px;
	margin-right: 10px;
}

#navbarbg{
	background-color: #404040;
	font-family: 'Fredoka One', cursive;
}

#navbarbg2{
	background-color: #e6ffff;
}


#projects2{
	font-family: 'Quicksand', sans-serif;
	margin-top: 50px;

}

#aboutcontent, #gamescontent, #contactcontent;{
	font-family: 'Quicksand', sans-serif;
}

#John{
	font-size: 70px;
	margin-top: 150px;
}

#navbarlogo{
	width: 80px;
}

#hilogo{
	width: 150px;
	margin-top: 70px;

}

#intro{
	margin-bottom: 50px;
	background-image: url(../images/clouds.png)
	background-image:transparent;
	background-repeat: no-repeat;
}

#letsdesignphoto{
	width: 170px;
	margin-top: 70px;
}

#letsdesign{
	text-align: left;
	margin-top: 40px;
	margin-left: 100px;
}

#intro2{
	margin-top: 100px;
}

#letsdesign2 {
	text-align: right;
	margin-top: 40px;
	margin-right: 30px;
	margin-bottom: 100px;

}

#letsdesignphoto2 {
	width: 150px;
	margin-top: 70px;
}

#letsdesign2nd{
	margin-top: 80px;
}

#John{
	animation-iteration-count:infinite;
}

#planet{
	justify-content: center;
	margin-top: 70px;
}

nav{
	background-color: #e6ffff;
}

#work1{
	margin-top: 20px;
}

#navbarfooter{
	text-align: center;
	justify-content: center;
	margin-top: 20px;
}

#letstalk{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}

#letstalkbg{
	background-color: #e6ffff;
	padding:50px;

}

#fb, #insta, #mail {
	width: 50px;
	margin-top: 20px;
}	

#developphoto {
	width: 150px;
	margin-top: 70px;
}

#introlanding{
	background-image: url(../images/clouds.png);
	animate__animated animate__pulse
}

#work{
	background-image: url(../images/clouds.png)
	
}
